body {
    font-family: 'Montserrat', sans-serif;
    background-color: #5d01fcbc;
}
.list_container {
    background-color: white;
    width: 60%;
}
h1 {
    font-size: 50px;
}
.completed_task {
    text-decoration: line-through;
    font-style: italic;
    color: gray;
}
.my_btn {
    background-color: #19FC45;
    border: none;
    padding: 0.3rem 0.8rem;
    border-radius: 20px;
    margin-left: 1rem;
}
.remove_task_btn {
    font-size: 1.5rem;
    cursor: pointer;
    color: #FC5119;
}
.comple_task_btn {
    font-size: 1.5rem;
    cursor: pointer;
    color: #17c73a;
    margin-right: 1rem;
}
.plus_add i {
    width: 60px;
    height: 60px;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #19FC45;
    border-radius: 50%;
    margin-bottom: 2rem;
    cursor: pointer;
}