body {
    font-family: 'Montserrat', sans-serif;
    background-color: #5504e1bc;
}
.list_container {
    background-color: white;
    width: 75%;
}
h1 {
    font-size: 50px;
}
.completed_task {
    text-decoration: line-through;
    font-style: italic;
    color: gray;
}
.flag_task_btn{
  color: dodgerblue;
  font-size: 1.2rem;
  cursor: pointer;
  margin-right: 1rem;
}
.flag_task_btn_active {
  color: red;
}
.flagged_txt {
  color: red;
  font-weight: bolder;
}
.my_btn {
    background-color: #19FC45;
    border: none;
    padding: 0.3rem 0.8rem;
    border-radius: 20px;
    margin-left: 1rem;
}
.remove_task_btn {
    font-size: 1.5rem;
    cursor: pointer;
    color: #FC5119;
}
.comple_task_btn {
    font-size: 1.5rem;
    cursor: pointer;
    color: #17c73a;
    margin-right: 1rem;
}
.plus_add i {
    width: 60px;
    height: 60px;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #19FC45;
    border-radius: 50%;
    margin-bottom: 2rem;
    cursor: pointer;
    box-shadow: 3px 3px 5px rgb(58, 57, 57);
    transition: all 0.3s linear;
}
.plus_add i:hover {
    transform: scale(1.2);
}
.bounce-enter-active {
    animation: bounce-in 0.5s;
  }
  .bounce-leave-active {
    animation: bounce-in 0.5s reverse;
  }
  @keyframes bounce-in {
    0% {
      transform: scale(0);
    }
    50% {
      transform: scale(1.25);
    }
    100% {
      transform: scale(1);
    }
  }
  
