<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdn.jsdelivr.net/npm/vue@3.2.41/dist/vue.global.min.js"></script>
   
    <link rel="stylesheet" href="css/style.css">
    <title>Vue To Do List</title>
</head>
<body>
    <div id="app">
        <div class="container-sm mt-4">
            <div class="d-flex mb-5">
                <h1 class="fw-bold me-3">ToDo List</h1>
                <span class="fs-2 text-white"><i class="fa-solid fa-check-double"></i></span>
            </div>
            <span class="plus_add"><i @click="toggleInput" class="fa-solid fa-plus"></i></span>
            <Transition name="bounce">
                <div class="input_field" v-show="inputReveal">
                    <input type="text" placeholder="Inserisci nuovo Task" v-model="new_task" @keyup.enter="addTask()">
                    <button class="my_btn" @click="addTask()">Add Task</button>
                    <div v-if="hasError" class='text-white bg-danger mt-3 w-75 p-2 rounded-3'>Non puoi lasciare il campo vuoto!</div>
                </div>
            </Transition>
            <div class="list_container mt-4 rounded-3 p-4 ps-0">
                <ul v-if="myList.length > 0">
                    <li :class="liItemClass" v-for="(item, index) in myList" :key="index">
                        <span :class="{'completed_task' : item.done, 'flagged_txt' : item.flag}"> {{item.text}}</span>
                        <div>
                            <span @click="flaggedTask(index)" :class="{'flag_task_btn_active' : this.myList[index].flag}" class="flag_task_btn"><i class="fa-regular fa-flag"></i></span>
                            <span @click="completeTask(index)" class="ms-auto comple_task_btn"><i class="fa-solid fa-circle-check"></i></span>
                            <span @click.stop="removeTask(index)" class="remove_task_btn"><i class="fa-solid fa-circle-xmark"></i></span>
                        </div>
                    </li>
                </ul>
                <div v-else class="p-3 text-center">Nessun Task </div>
            </div>
        </div>
        
    </div>
    


    <script src="js/script.js"></script>
</body>
</html>